

nav {
    border-radius: 20px;
    margin-top: 0px;
    padding: 1px;
   line-height: 0px;
}

header {
    font-family: 'Pinyon Script', cursive;
    font-size: 0.8em;
    border-radius: 20px;
    height: 25%;
    background-color:#5AF335;
    color:black;
    text-align: center;
    padding:1px;
    margin-bottom: 1px;
}
header h2 {

    text-shadow: 8px 8px 8px 
}

 figure {   
    padding: 5px;
    margin: 1px;
    border-image: 3px;
   
 }
 figure img#panoramica {
    position: relative;
    border-radius: 20px 20px;


 }
nav {
    border-radius: 20px;
    background: #C6F8EA;
    margin-top: 0px;
    padding: 1px;
   line-height: 0px;
}
nav ul#menu {
    padding: 5px;
}

nav ul#menu li {
    display: inline;
}

nav ul#menu li a {
    background-color: blue;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 16px 4px;

}


section {
    margin: auto;
    
    width: 80%;
    height: 100%;
    
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 1.5em;
    border-radius: 20px;
    
    padding: 1px;
    
    
}
section {
    margin: auto;
    
    width: 80%;
    height: 100%;
    background-color: #DCB7F2;
    text-align: center;
    font-family: 'Playball', cursive;
    font-size: 1.5em;
    border-radius: 20px;
    
    padding: 1px;
    
    
    box-shadow: 10px 10px 5px #888888;
}

footer {
    border-radius: 20px;
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   padding:5px;      
}